<div class="row">

  <!-- Twitter-->
  <div class="small-12 medium-6 large-6 column">
    <a class="twitter-timeline" data-width="100%" data-height="500" href="https://twitter.com/ayto_merida?ref_src=twsrc%5Etfw">Tweets by ayto_merida</a> 
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
  </div>

  <!-- Facebook-->
  <div class="small-12 medium-6 large-6 column">
    <!-- Facebook timeline -->
  </div>

</div>
